
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: "FF Signa Extended Extra Black";
    src: url("/fonts/FFSigna-ExtendedExtraBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

