.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 5.5rem;
    gap : 1rem;
    font-weight: 800;
}

.login-heading-container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.login-input {
    font-size: 1.1rem;
    width: 25%;
    padding: 0.85rem 1rem;
    border: 1px solid gray;
    font-family: karla;
}

.login-forgot-password {
    display: flex;
    flex-direction: row;
    gap: 10.5rem;
    margin-top: 0.5rem;
    color: grey;

}

.login-button {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 0.65rem 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.login-button:active {
    background-color: grey;
}